
  @font-face {
    font-family: 'Intro Black';
    src: url('../fonts/Intro/Intro-Black.eot');
    src: url('../fonts/Intro/Intro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro/Intro-Black.woff') format('woff'),
    url('../fonts/Intro/Intro-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  @font-face {
    font-family: 'IntroDemo';
    src: url('../fonts/Intro/IntroDemoBlackCapsInline.otf');
    font-weight: bold;
    font-style: normal;
}

