.header {
    background: url('../img/index/head-bg.png') no-repeat center / cover;
    padding-bottom: 60px;
}

.main-hvr:hover{cursor: pointer}
.main-hvr {
  background: transparent; outline: none;
  position: relative;
  overflow: hidden;
  min-height: 20px;
  border: 1px solid transparent;
}

/*.main-hvr:before (attr data-hover)*/
.main-hvr:hover:before{opacity: 1; transform: translate(0,0);}
.main-hvr:before{
  content: attr(data-hover);
  position: absolute;
  top: 0px; left: 0;
  width: 100%;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}
  /*.main-hvr div (.main-hvr text before hover)*/
  .main-hvr:hover div{opacity: 0; transform: translate(100%,0)}
  .main-hvr div{
    transition: all .3s ease-in-out;
    
  }
  @-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  
  .hvr-bob {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
  
.header__title {
    padding-top: 140px;
   img {
       display: block;
       margin: 0 auto;
   }
}
.hvr-curl-bottom-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  }
  .hvr-curl-bottom-left:before {
    pointer-events: none;
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: -0.5px;
    left: 0;
    background: white;
    /* IE9 */
    background: linear-gradient(45deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: width, height;
    transition-property: width, height;
  }
  .hvr-curl-bottom-left:hover:before, .hvr-curl-bottom-left:focus:before, .hvr-curl-bottom-left:active:before {
    width: 25px;
    height: 25px;
  }
.sub__header {
    font-weight: 500;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 26px;
    max-width: 582px;
   
    margin-top: 10px;
    margin-bottom: 15px;
}
.eng-block {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 654px;

    line-height: 1;
    font-weight: 900;
  
   letter-spacing: 2px;
   font-size: 60px;
}
.left-svg {
    display: flex;
    align-items: center;
    margin-right: 35px;
    cursor: pointer;
}
.right-svg {
    display: flex;
    align-items: center;
    margin-left: 35px;
    cursor: pointer;
}
.line {
    width: 45px;
    height: 7px;
    background-color: #c7c7c7;
    margin: 0 5px;
    transition: color .3s, background-color .3s, transform .3s;
    transform: scale(1.1);
 
}
.eng-svg {
    font-family: 'IntroDemo', sans-serif;
    color: #c7c7c7;
    transition: color .3s, background-color .3s, transform .3s;
    &:hover {
        color: #c7c7c7;
        transform: scale(1.1);
        .line {
            background-color: #c7c7c7;
         }
    }
   
}
.header__title {
    color: #EBECEC;
    font-family: 'IntroDemo', sans-serif;
    font-size: 80px;
    text-align: center;
}
.eng-svg_active {
    color: #EBECEC;
     transform: scale(1.1);
    .line {
       background-color: #EBECEC;
        transform: scale(1.1);
    }
    &:hover {
        color: #EBECEC;

        .line {
            background-color: #EBECEC;
        }
    }
}

.select__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
width: 212px;
height: 60px;
    border:none;
    background:none;
    outline:none;
background-color: #fff;
}
.select__wrap_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 14px;
    transition: background-color .2s, color .2s;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: #ccc;
    }
    
border-radius: 3px;
color: #727271;
}
.select {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.vertical_line {
    height: 20px;
    width: 1px;
    
}
.select__wrap {
    position: absolute;
    top: 60px;
    z-index: 1;
    left: 0;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity .2s;
    width: 100%;
    background: #fff;
    margin: 3px 0;
    border-radius: 5px;
        
    
    
}
.select__wrap_active {
    opacity: 1;
    visibility: visible !important;
    
   
 
}
.field_text {
  
  
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.83px;
  color: #727271;
}
.field__icon {
  
    img {
        transition: transform .2s;
        transform: rotate(0deg);
        width: 18px;
    }
}
.field__icon_active {
   
    img {
        transition: transform .2s;
        transform: rotate(180deg);
    }
}

.usd {
    width: 95px;


    
}
.usd-select {
    .select__wrap_item {
        text-transform: uppercase;
    }
}
.header-calk {
    display: flex;
    align-items: center;
    max-width: 1126px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 30px;
    input::-webkit-input-placeholder {
        font-size: 15px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: 0.83px;
 color: #727271;
   }
  input:-ms-input-placeholder {
       font-size: 15px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: 0.83px;
 color: #727271;
  }
  input::-ms-input-placeholder {
       font-size: 15px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: 0.83px;
 color: #727271;
  }
  input::placeholder {
       font-size: 15px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: 0.83px;
 color: #727271;
  } 
}
.type-select {
    .select__wrap_item {
        width: 212px;
    }
}
.year-select {
    .select__wrap_item {
        width: 212px;
    }
}
.header-btn {
    border: none;
    outline: none;
    height: 60px;
    width: 212px;
    text-align: center;
    padding: 20px 30px;
    background-color: #B1413F;
    color: #FEFEFE;
}
.test-text {
    color: #FEFEFE;
    line-height: 1.5;
    text-transform: uppercase;  
    font-size: 15px;
}
.dinamic-num {
    font-weight: 700;
    font-size: 40px;
    color: #FEFEFE;
    margin-right: 10px;
    line-height: 1;
}
.last-prof-wrap {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.last-header-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.last-header-prof {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    width: 20%;
    margin-top: 20px;
    margin-right: 20px;
}
#test4 {
    min-width: 100px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
@media (max-width: 1511px) {
    .last-header-prof {
        min-width: 170px;
        width: 19%;
    }
}
@media (max-width: 1365px) {
    .header_link_res {
        display: block;
        width: 50%;
        input {
            width: 100%;
        }
    }
    .header-calk {
        flex-wrap: wrap;
    }
    .header__title img {
        max-width: 100%;
    }
    .calk-blocks {
        width: 50%;
    }
    .header-calk {
        max-width: 585px;
    }
    .select__input {
        width: 293px;
    }
    .year-select .select__wrap_item {
        width: 293px;
    }
    .type-select .select__wrap_item {
        width: 293px;
    }
    .usd-select .select__wrap_item {
        width: 293px;
    }
}
@media (max-width: 1118px) {
    .last-header-block {
        justify-content: center;
    }
    .last-header-prof {
        min-width: 170px;
       width: 33%;
    }
}
@media (max-width: 854px) {
    .header__title {
        font-size: 64px;
    }
}
@media (max-width: 775px) {
    .sub__header {
        font-size: 16px;
        text-align: center;
        
    }
    .eng-block {
        font-size: 35px;
        max-width: 442px;
    }
    .line {
        width: 35px;
        height: 5px;
    }
    .select__wrap {
        border: 1px solid #919191;
    }
   
}
@media (max-width: 720px) {
    .header__title {
        font-size: 46px;

    }
}
@media (max-width: 696px) {
    
    .header-calk {
        flex-wrap: wrap;
    }
    .header__title img {
        max-width: 100%;
    }
    .calk-blocks {
        width: 293px;
        margin: 0 auto;
        margin-top: 3px;
        border-radius: 5px;

        input {
            border-radius: 5px;
        }
    }
    .header-calk {
        max-width: 585px;
    }
    .select__input {
        margin: 0 auto;
        width: 293px;
        border-radius: 5px;
    }
    .year-select .select__wrap_item {
        width: 293px;
    }
    .type-select .select__wrap_item {
        width: 293px;
    }
    .usd-select .select__wrap_item {
        width: 293px;
    }
    .header-btn {
        width: 293px !important;
        margin: 0 auto;
        margin-top: 3px;
    }
    .select__wrap {}
    .header_link_res {
        display: block;
        width: 50%;
        width: 293px !important;
        margin: 0 auto;
    }
}
@media (max-width: 677px) {
    
    .last-header-prof {
     
       width: 100%;
       margin-top: 30px;
       margin-right: 0px;
    }
}
@media (max-width: 540px) {
    .header__title img {
        max-width: 90%;
    }
    .eng-block {
        font-size: 25px;
        max-width: 345px;
    }
    .line {
        width: 25px;
        height: 4px;
    }
}
@media (max-width: 475px) {
    .header__title {
        font-size: 32px;

    }
}
@media (max-width: 410px) {
    .left-svg {
        margin-right: 10px;
    }
    .right-svg {
        margin-left: 10px;
    }
    .eng-block {
        font-size: 20px;
        max-width: 257px;
    }
}
@media (max-width: 386px) {
    .select__input {
        width: 220px;
    }
    .year-select .select__wrap_item {
        width: 220px;
    }
    .type-select .select__wrap_item {
        width: 220px;
    }
    .usd-select .select__wrap_item {
        width: 220px;
    }
    .header-btn {
        width: 220px !important;
        margin: 0 auto;
    }
    .header-calk {
        max-width: 220px;
    }
}
