.nav-bar {
    position: fixed;
    z-index: 999;
    width: 100%;
    min-height: 100px;
    background-color: #0c0c0cd9;;
    display: flex;
    color: #FEFEFE;
    align-items: center;
}


.bottom-info-data {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 95%;

}





.hidden_infa {
    display: none !important;
}
.nav-container {
    display: flex;
    color: #FEFEFE;
    align-items: center;
    justify-content: space-between;
}
.logo-block {
    img {
        width: 355px;
    }
}
.last-nav-bar {
    display: flex;
    align-items: center;
}
.nav_block {
    list-style: none;
    display: flex;
    align-items: center;

}
.right_nav-bar {
    display: flex;
    align-items: center;
}
.log-nav {
    fill: #FEFEFE;
    stroke: #FEFEFE;
    margin: 0 15px;
}
.nav__link {
    margin-left: 66px;
    cursor: pointer;
    
}
.nav_block {
    a {
        text-decoration: none;
    }
} 
.nav-login {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.lang-block {
    margin: 0 12px;
}
.nav__text {
    font-size: 25px;
    color: #FEFEFE;
    line-height: 1;
}
.main_menu {
    display: none;
    position: absolute;
    right: 40px;
}
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 27px;
    background: #FEFEFE;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .first-span {
      height: 3.2px !important;
  }
  .last-span {
      width: 20px !important;
      left: unset !important;
      right: 0 !important;
      height: 3.2px !important;
  }
#nav-icon4 {
    width: 30px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}


#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 3.5px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
  left: 8px;
  width: 27px !important;
}
.lang-block {
    position: relative;
    cursor: pointer;
}
.hidden_lang-block {
    position: absolute;
    z-index: -1;
    bottom: 0;
    padding: 3px 0px 10px 0px;
    width: 85px;
    background-color: #0c0c0cbf;
    left: -21px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.hidden_lang-block_active {
    position: absolute;
    z-index: 6;
    
    
    bottom: -166px;
    opacity: 1;
    visibility: visible;
}
.hidden_lang_item {
    text-transform: uppercase;
    background-color: transparent;
    margin-top: 10px;
    width: 100%;
    transition: all .2s;
    text-align: center;
    padding: 10px 0;
    font-size: 25px;

    &:hover {
        background-color: black;
    }
}

@media (max-width: 1710px) {
    .nav__text {
        font-size: 20px;
    }
}
@media (max-width: 1569px) {
    .nav__text {
        font-size: 18px;
    }
    .hidden_lang_item {
        font-size: 18px;
    }
    .nav__link {
        margin-left: 40px;
    }
    .hidden_lang-block {
        left: -27px;
    }
    .hidden_lang-block_active {
        bottom: -153px;
    }
}
@media (max-width: 1390px) {
    .nav__text {
        font-size: 15px;
        line-height: 1;
    }
    .hidden_lang_item {
        font-size: 15px;
    }
    .nav__link {
        margin-left: 35px;
    }
    .logo-block img {
        width: 270px;
    }
    .nav-bar {
       
        min-height: 76px;
    }
    .hidden_lang-block_active {
        bottom: -136px;

    }
}
@media (max-width: 1181px) {
    .hidden_lang-block_active {
        bottom: -131px;
    }
    .nav__text {
        font-size: 15px;
        line-height: 1;
    }
    .nav__link {
        margin-left: 35px;
    }
    .logo-block img {
        width: 230px;
    }
    .logo-block {
        display: block;
        width: 230px;
    }
    .nav-bar {
       
        min-height: 65px;
    }
    .nav-login {
        margin-left: 0;
    }
    .nav_block {
        padding: 0;
    }
}
@media (max-width: 1029px) {
    .main_menu {
        display: block;
    }
    .right_nav-bar {
        top: 65px;
        width: 50vw;
        position: absolute;
        right: -100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #000000c9;
        transition: all .4s;
    }
    .right_nav-bar_active {
        right: 0;
        transition: all .4s;
    }
    .nav_block {
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        display: flex;
        width: 100vw;
        margin: 0 auto;
            top: 0;
        left: 0;
        height: 400px;
        width: 300px;
        z-index: 99999;
        content: '';


        a {
            width: 100%;
            text-align: center;
            margin: 15px 0;
        }
    }
    .main-hvr {
       
       
    }
    .main-hvr:before {
        top: 15px !important;
    }
    .nav__link {
        margin-left: 0;
       padding: 15px 0;
    }
    .lang-block {
        margin-right: 50px;
    }
    .hidden_infa {
        display: flex !important;
        border: none !important;

        .adress-text {
            color: #FEFEFE !important;
            font-weight: 400 !important;
        }
    }
    .hidden_infa_1 {
        margin-top: 30px;
    }
}
@media (max-width: 621px) {
    .right_nav-bar {
        width: 100vw;
    }
}
@media (max-width: 503px) {
    .logo-block img {
        width: 180px;
    }
    .logo-block {
        display: block;
        width: 180px;
    }
}
@media (max-width: 445px) {
    .nav-container {
        flex-direction: column;
        align-items: unset;
    }
    .last-nav-bar {
        margin-top: 7px;
    }
    .hidden_lang-block_active {
        bottom: -111px;
    }
    .hidden_lang-block {
        left: -22px;
        width: 69px;
    }
    
}
